/* common styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: 0px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.section-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.section-discription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

/* header section styles */
.header {
    display: flex;
    padding: 0px 240px;
    width: auto;
    height: 800px;
    align-items: center;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.header-discription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;

}

.header-left {
    padding: 100px 97px 150px 0px;
}

/* Our featur section styles */
.section-text {
    text-align: center;
    margin: 175px 750px 0px;
}

.section-img {
    display: flex;
    margin: 0px 240px;
    /* align-items: center;
    justify-content: space-between; */
}

.pink-flower-tree {
    width: 464px;
    height: 538px;
    border: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin: 50px 24px 32px 240px;

}

.blue-flower-tree {
    width: 464px;
    height: 538px;
    border: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 50px 24px 32px 24px;
}

.green-flower-tree {
    width: 464px;
    height: 538px;
    border: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin: 50px 240px 32px 24px;
}

.img-div {
    margin: 110px 75px 0px 75px;
}

.img-div-1 {
    margin: 117px 47px 73px 47px;
}

.img-div-2 {
    margin: 67px 75px 0px;
}

.pink-flower-text {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;

}

/* hot deals section styles */
.hot-deals {
    width: auto;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    text-align: center;
    justify-content: center;
    margin: 128px 0;
    display: flex;
}

.spcial-text {
    color: #E55473;
}

.hot-deals-text {
    padding: 230px 215px 162px 420px;
}

.hot-deal-img {
    padding: 100px 0px;
}

/* Instagram section styles */
.instagram-section-text {
    text-align: center;
}

.instagram-img {
    display: flex;
    /* margin: 0px 240px; */
    align-items: center;
    justify-content: center;
}

.insta-img-1 {
    margin: 48px 24px 128px 240px;
}

.insta-img-2 {
    margin: 48px 24px 128px 0px;
}

.insta-img-3 {
    margin: 48px 24px 128px 0px;
}

.insta-img-4 {
    margin: 48px 240px 128px 0px;
}

/* latest deals styles */
.latest-deals {
    margin: 0px 240px 128px 540px;
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: top right bottom left;
    width: auto;
    height: 500px;
    align-items: center;
}

.latest-deals-text {
    padding: 122px 0px 0px 450px;
}

.latest-deals-form {
    margin: 10px 0 0px 285px;
}

.email-feild {
    width: 700px;
    height: 64px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
    margin: 30px 16px 121px 0px;
}

.latest-deals-text>h3 {
    margin-bottom: 0px;
}

/* best delivary section styles */
.best-delivary {
    display: flex;
    padding: 0px 240px;
    width: auto;
    height: 700px;
    align-items: center;
    /* justify-content: space-around; */
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 128px;
}

.delivary-points {
    font-size: 25px;
    font-weight: 500;
}

.best-delivary-img {
    padding: 0px 0px 0px 60px;
}

.best-delivary-text {
    padding: 48px 60px 100px 250px;
}

/* footer section styles */
.footer-items {
    width: auto;
    height: 449px;
    background: #111010;
    text-align: center;

}

.footer-section-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
}

.flower-text {
    color: #E55473;
    font-size: 48px;
    ;
    font-weight: 800;
}

.footer-section-discription {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0px 32px 0px;
}

.copyright-text {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.footer-text {
    padding: 128px 0px 0px 0px;

}