/* common styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
}